<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>New Tree Form</title>
</head>
<body>
    <div class="container">
        <h1>New Tree</h1>
        <form action="/<%=trees.id%>?_method=PUT" method="POST">
            Common Name: <input type="text" name="name" value="<%= trees.name %> "><br/>
            Scientific Name:<input type="text" name="scientific_name" value="<%= trees.scientific_name %>"><br/>
            Image URL:<input type="text" name="img" value="<%= trees.img %>"><br/>
            Class Name:<input type="text" name="class" value="<%= trees.class %>"><br/>
            Family Name:<input type="text" name="family">
        </form>
    </div>
    
</body>
</html>